{% extends "michoacan/home.html" %} {% block titulo%}ca {% endblock %} {%block
contenido%}

<div class="section">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-6" id="servicios>
      <a class="font-weight-bold text-primary heading"> Nuestros Servicios </a>
    </div>
    <div class="col-lg-6 text-lg-end">
      <p>
        <a
          href="services.html"
          target="_blank"
          class="btn btn-primary text-white py-3 px-4"
          >Todos nuestros servicios</a
        >
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="property-slider-wrap">
        <div class="property-slider">
          <div class="property-item">
            <a href="" class="img">
              <img
                src="images/frenos3.jpg"
                height="500"
                width="500"
                alt="Image"
                class="img-fluid"
              />
            </a>

            <div class="property-content">
              <div class="price mb-2"><span>$1,291,000</span></div>
              <div>
                <span class="d-block mb-2 text-black-50">Limpieza</span>
                <span class="city d-block mb-3">Frenos</span>

                <div class="specs d-flex mb-4">
                  <span class="d-block d-flex align-items-center me-3">
                    <span class="icon-bed me-2"></span>
                    <span class="caption">Delanteros</span>
                  </span>
                  <span class="d-block d-flex align-items-center">
                    <span class="icon-bath me-2"></span>
                    <span class="caption">Traseros</span>
                  </span>
                </div>
                <a href="property-single.html" class="btn btn-primary py-2 px-3"
                  >Mas detalles</a
                >
              </div>
            </div>
          </div>
          <!-- .item -->

          <div class="property-item">
            <a href="property-single.html" class="img">
              <img src="images/afinacion.jpg" alt="Image" class="img-fluid" />
            </a>

            <div class="property-content">
              <div class="price mb-2"><span>$1,291,000</span></div>
              <div>
                <span class="d-block mb-2 text-black-50"
                  >Aceite, Filtros Y Bujias</span
                >
                <span class="city d-block mb-3">Afinaciones</span>

                <div class="specs d-flex mb-4">
                  <span class="d-block d-flex align-items-center me-3">
                    <span class="icon-bed me-2"></span>
                    <span class="caption">Completas</span>
                  </span>
                  <span class="d-block d-flex align-items-center">
                    <span class="icon-bath me-2"></span>
                    <span class="caption">Solo Aceite</span>
                  </span>
                </div>

                <a href="property-single.html" class="btn btn-primary py-2 px-3"
                  >Mas Detalles</a
                >
              </div>
            </div>
          </div>
          <!-- .item -->

          <div class="property-item">
            <a href="property-single.html" class="img">
              <img src="images/clutch.jpg" alt="Image" class="img-fluid" />
            </a>

            <div class="property-content">
              <div class="price mb-2"><span>$1,291,000</span></div>
              <div>
                <span class="d-block mb-2 text-black-50"
                  >Pastas, Retificacion De Volante</span
                >
                <span class="city d-block mb-3">Cambios De Clutch</span>

                <div class="specs d-flex mb-4">
                  <span class="d-block d-flex align-items-center me-3">
                    <span class="icon-bed me-2"></span>
                    <span class="caption">2 beds</span>
                  </span>
                  <span class="d-block d-flex align-items-center">
                    <span class="icon-bath me-2"></span>
                    <span class="caption">2 baths</span>
                  </span>
                </div>

                <a href="property-single.html" class="btn btn-primary py-2 px-3"
                  >Mas Detalles</a
                >
              </div>
            </div>
          </div>
          <!-- .item -->

          <div class="property-item">
            <a href="property-single.html" class="img">
              <img src="images/motor.jpg" alt="Image" class="img-fluid" />
            </a>

            <div class="property-content">
              <div class="price mb-2"><span>$1,291,000</span></div>
              <div>
                <span class="d-block mb-2 text-black-50"
                  >Completo - Lo Necesario</span
                >
                <span class="city d-block mb-3">Ajuste De Motor</span>

                <div class="specs d-flex mb-4">
                  <span class="d-block d-flex align-items-center me-3">
                    <span class="icon-bed me-2"></span>
                    <span class="caption">2 beds</span>
                  </span>
                  <span class="d-block d-flex align-items-center">
                    <span class="icon-bath me-2"></span>
                    <span class="caption">2 baths</span>
                  </span>
                </div>

                <a href="property-single.html" class="btn btn-primary py-2 px-3"
                  >Mas Detalles</a
                >
              </div>
            </div>
          </div>
          <!-- .item -->

          <div class="property-item">
            <a href="property-single.html" class="img">
              <img src="images/inyect.jpg" alt="Image" class="img-fluid" />
            </a>

            <div class="property-content">
              <div class="price mb-2"><span>$1,291,000</span></div>
              <div>
                <span class="d-block mb-2 text-black-50">Limpieza</span>
                <span class="city d-block mb-3">Lavado De Inyectores</span>

                <div class="specs d-flex mb-4">
                  <span class="d-block d-flex align-items-center me-3">
                    <span class="icon-bed me-2"></span>
                    <span class="caption">2 beds</span>
                  </span>
                  <span class="d-block d-flex align-items-center">
                    <span class="icon-bath me-2"></span>
                    <span class="caption">2 baths</span>
                  </span>
                </div>

                <a href="property-single.html" class="btn btn-primary py-2 px-3"
                  >Mas Detalles</a
                >
              </div>
            </div>
          </div>
          <!-- .item -->

          <div class="property-item">
            <a href="property-single.html" class="img">
              <img src="images/scan.jpg" alt="Image" class="img-fluid" />
            </a>

            <div class="property-content">
              <div class="price mb-2"><span>$1,291,000</span></div>
              <div>
                <span class="d-block mb-2 text-black-50"
                  >Scaneo De Codigos Y Calibraciones</span
                >
                <span class="city d-block mb-3"
                  >Scaneo De Codigos y Luz del Check</span
                >

                <div class="specs d-flex mb-4">
                  <span class="d-block d-flex align-items-center me-3">
                    <span class="icon-bed me-2"></span>
                    <span class="caption">2 beds</span>
                  </span>
                  <span class="d-block d-flex align-items-center">
                    <span class="icon-bath me-2"></span>
                    <span class="caption">2 baths</span>
                  </span>
                </div>

                <a href="property-single.html" class="btn btn-primary py-2 px-3"
                  >Mas Detalles</a
                >
              </div>
            </div>
          </div>
          <!-- .item -->

          <div class="property-item">
            <a href="property-single.html" class="img">
              <img src="images/cambio.jpg" alt="Image" class="img-fluid" />
            </a>

            <div class="property-content">
              <div class="price mb-2"><span>$1,291,000</span></div>
              <div>
                <span class="d-block mb-2 text-black-50"
                  >Repuestos - Gomas</span
                >
                <span class="city d-block mb-3">Cambio De Amortiguadores</span>

                <div class="specs d-flex mb-4">
                  <span class="d-block d-flex align-items-center me-3">
                    <span class="icon-bed me-2"></span>
                    <span class="caption">2 beds</span>
                  </span>
                  <span class="d-block d-flex align-items-center">
                    <span class="icon-bath me-2"></span>
                    <span class="caption">2 baths</span>
                  </span>
                </div>

                <a href="property-single.html" class="btn btn-primary py-2 px-3"
                  >Mas Detalles</a
                >
              </div>
            </div>
          </div>
          <!-- .item -->

          <div class="property-item">
            <a href="property-single.html" class="img">
              <img src="images/preventivo.jpg" alt="Image" class="img-fluid" />
            </a>

            <div class="property-content">
              <div class="price mb-2"><span>$1,291,000</span></div>
              <div>
                <span class="d-block mb-2 text-black-50"
                  >Niveles - Luces - Frenos</span
                >
                <span class="city d-block mb-3">Servicio Preventivo</span>

                <div class="specs d-flex mb-4">
                  <span class="d-block d-flex align-items-center me-3">
                    <span class="icon-bed me-2"></span>
                    <span class="caption">2 beds</span>
                  </span>
                  <span class="d-block d-flex align-items-center">
                    <span class="icon-bath me-2"></span>
                    <span class="caption">2 baths</span>
                  </span>
                </div>

                <a href="property-single.html" class="btn btn-primary py-2 px-3"
                  >Mas Detalles</a
                >
              </div>
            </div>
          </div>
          <!-- .item -->

          <div class="property-item">
            <a href="property-single.html" class="img">
              <img src="images/fuga.jpg" alt="Image" class="img-fluid" />
            </a>

            <div class="property-content">
              <div class="price mb-2"><span>$1,291,000</span></div>
              <div>
                <span class="d-block mb-2 text-black-50"
                  >Aceite - Agua - Gasolina</span
                >
                <span class="city d-block mb-3">Fugas En General</span>

                <div class="specs d-flex mb-4">
                  <span class="d-block d-flex align-items-center me-3">
                    <span class="icon-bed me-2"></span>
                    <span class="caption">2 beds</span>
                  </span>
                  <span class="d-block d-flex align-items-center">
                    <span class="icon-bath me-2"></span>
                    <span class="caption">2 baths</span>
                  </span>
                </div>

                <a href="property-single.html" class="btn btn-primary py-2 px-3"
                  >Mas Detalles</a
                >
              </div>
            </div>
          </div>
          <!-- .item -->
        </div>

        <div
          id="property-nav"
          class="controls"
          tabindex="0"
          aria-label="Carousel Navigation"
        >
          <span
            class="prev"
            data-controls="prev"
            aria-controls="property"
            tabindex="-1"
            >Anterior</span
          >
          <span
            class="next"
            data-controls="next"
            aria-controls="property"
            tabindex="-1"
            >Siguiente</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
