<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    {% load static %}
    <link rel="stylesheet" href="{%static 'michoacan/css/tiny-slider.css'%}" />
    <link rel="stylesheet" href="{% static 'michoacan/css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'michoacan/css/style.css'%}" />

    <title>CRAFT MICH</title>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="index.html" class="logo m-0 float-start">CRAFT MICH</a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li class="active"><a href="{%url 'Carrusel'%}">Home</a></li>
              <li class="has-children">
                <a href="{%url 'ca'%}">ca</a>
                <ul class="dropdown">
                  <li>
                    <a
                      href="https://www.google.com.mx/maps/place/Taller+Migues+Automotriz/@19.7211972,-101.1701232,17z/data=!4m6!3m5!1s0x842d0e223379d935:0x6e3b26acfe466acc!8m2!3d19.7210482!4d-101.168417!16s%2Fg%2F1q6h_yyck"
                      >Como llegar</a
                    >
                  </li>
                  <li><a href="#">Conose Nuestras Instalaciones</a></li>
                  <li class="has-children"></li>
                </ul>
              </li>
              <li><a href="{%url 'Registrar'%}">FroCarrusel</a></li>
              <li><a href="about.html">Màs</a></li>
              <li><a href="contact.html">Contacto</a></li>
            </ul>

            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="hero">
      <div class="hero-slide">
        <div
          class="img overlay"
          style="background-image: url('images/migues.jpg')"
        ></div>
        <div
          class="img overlay"
          style="background-image: url('images/Instalaciones.jpg')"
        ></div>
        <div
          class="img overlay"
          style="background-image: url('images/white.jpg')"
        ></div>
      </div>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center">
            <h1 class="heading" data-aos="fade-up">Michoacan</h1>
            <form
              action="#"
              class="narrow-w form-search d-flex align-items-stretch mb-3"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <input
                type="text"
                class="form-control px-4"
                placeholder="servicios"
              />
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% block contenido %}
    <!--Template Tag-->
    <!--block sirve para indicar que colocaremos un bloque de
     contenido a través de nuestra variable content -->
    {% endblock %}

    <section class="features-1">
      <div class="container">
        <div class="row">
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="box-feature">
              <span class="flaticon-house"></span>
              <h3 class="mb-3">Nuestras Instalaciones</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptates, accusamus.
              </p>
              <p><a href="#" class="learn-more">Learn More</a></p>
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
            <div class="box-feature">
              <span class="flaticon-building"></span>
              <h3 class="mb-3">Nuestra Ubicaciòn</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptates, accusamus.
              </p>
              <p><a href="#" class="learn-more">Learn More</a></p>
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <div class="box-feature">
              <span class="flaticon-house-3"></span>
              <h3 class="mb-3">Dueño-Administrador</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptates, accusamus.
              </p>
              <p><a href="#" class="learn-more">Learn More</a></p>
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
            <div class="box-feature">
              <span class="flaticon-house-1"></span>
              <h3 class="mb-3">Màs</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptates, accusamus.
              </p>
              <p><a href="#" class="learn-more">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="section sec-testimonials">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-6">
            <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
              Customer Says
            </h2>
          </div>
          <div class="col-md-6 text-md-end">
            <div id="testimonial-nav">
              <span class="prev" data-controls="prev">Prev</span>

              <span class="next" data-controls="next">Next</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4"></div>
        </div>
        <div class="testimonial-slider-wrap">
          <div class="testimonial-slider">
            <div class="item">
              <div class="testimonial">
                <img
                  src="images/person_1-min.jpg"
                  alt="Image"
                  class="img-fluid rounded-circle w-25 mb-4"
                />
                <div class="rate">
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                </div>
                <h3 class="h5 text-primary mb-4">James Smith</h3>
                <blockquote>
                  <p>
                    &ldquo;Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean.&rdquo;
                  </p>
                </blockquote>
                <p class="text-black-50">Designer, Co-founder</p>
              </div>
            </div>

            <div class="item">
              <div class="testimonial">
                <img
                  src="images/person_2-min.jpg"
                  alt="Image"
                  class="img-fluid rounded-circle w-25 mb-4"
                />
                <div class="rate">
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                </div>
                <h3 class="h5 text-primary mb-4">Mike Houston</h3>
                <blockquote>
                  <p>
                    &ldquo;Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean.&rdquo;
                  </p>
                </blockquote>
                <p class="text-black-50">Designer, Co-founder</p>
              </div>
            </div>

            <div class="item">
              <div class="testimonial">
                <img
                  src="images/person_3-min.jpg"
                  alt="Image"
                  class="img-fluid rounded-circle w-25 mb-4"
                />
                <div class="rate">
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                </div>
                <h3 class="h5 text-primary mb-4">Cameron Webster</h3>
                <blockquote>
                  <p>
                    &ldquo;Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean.&rdquo;
                  </p>
                </blockquote>
                <p class="text-black-50">Designer, Co-founder</p>
              </div>
            </div>

            <div class="item">
              <div class="testimonial">
                <img
                  src="images/person_4-min.jpg"
                  alt="Image"
                  class="img-fluid rounded-circle w-25 mb-4"
                />
                <div class="rate">
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                </div>
                <h3 class="h5 text-primary mb-4">Dave Smith</h3>
                <blockquote>
                  <p>
                    &ldquo;Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean.&rdquo;
                  </p>
                </blockquote>
                <p class="text-black-50">Designer, Co-founder</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-4 bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-lg-5">
            <h2 class="font-weight-bold heading text-primary mb-4">
              Los mejores precios y calidad en morelia
            </h2>
            <p class="text-black-50">
              En migues automotriz nos especialisamos en mecanica automotriz en
              general contamos con un electrico particular asi como contacto con
              los mejores especialistas en materia de autos neustras
              recomendaciones son garantizadas como nuestro trabajo.
            </p>
          </div>
        </div>
        <div class="row justify-content-between mb-5">
          <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
            <div class="img-about dots">
              <img src="images/mustang.jpg" alt="Image" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Instalaciones</h3>
                <p class="text-black-50">
                  Calle Lic Pablo G. Macías, Aquiles Serdán, 58218 Morelia,
                  Mich.
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Empleado del mes</h3>
                <p class="text-black-50">nombre del empleado</p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Garantias</h3>
                <p class="text-black-50">
                  Nuestras garantias son validadas por nuestros provedores
                  hablando de piezas y mano de obra corre por nuestra cuenta
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row section-counter mt-5">
          <div
            class="col-6 col-sm-6 col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
                ><span class="countup text-primary">3298</span></span
              >
              <span class="caption text-black-50"># Autos arreglados</span>
            </div>
          </div>
          <div
            class="col-6 col-sm-6 col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
                ><span class="countup text-primary">2181</span></span
              >
              <span class="caption text-black-50"># Pendientes</span>
            </div>
          </div>
          <div
            class="col-6 col-sm-6 col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-delay="500"
          >
            <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
                ><span class="countup text-primary">9316</span></span
              >
              <span class="caption text-black-50"># Refacciones usadas</span>
            </div>
          </div>
          <div
            class="col-6 col-sm-6 col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-delay="600"
          >
            <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
                ><span class="countup text-primary">7191</span></span
              >
              <span class="caption text-black-50"># Nuestro personal</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row justify-content-center footer-cta" data-aos="fade-up">
        <div class="col-lg-7 mx-auto text-center">
          <h2 class="mb-4">Contactanos</h2>
          <p>
            <a
              href="#"
              target="_blank"
              class="btn btn-primary text-white py-3 px-4"
              >WhatsApp</a
            >
            <a
              href="#"
              target="_blank"
              class="btn btn-primary text-white py-3 px-4"
              >Telefono Celular</a
            >
          </p>
        </div>
        <!-- /.col-lg-7 -->
      </div>
      <!-- /.row -->
    </div>

    <div class="section section-5 bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-lg-6 mb-5">
            <h2 class="font-weight-bold heading text-primary mb-4">
              Nuestro personal
            </h2>
            <p class="text-black-50">
              Nuestro personal tiene años de experiencia y esta capacitado para
              cualquier problema o detalle que pueda presentar su vehiculo
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="h-100 person">
              <img
                src="images/person_1-min.jpg"
                alt="Image"
                class="img-fluid"
              />

              <div class="person-contents">
                <h2 class="mb-0"><a href="#">Jesus</a></h2>
                <span class="meta d-block mb-3">Mecanico Automotriz</span>
                <p>
                  Titulado como mecanico automotriz egresado de X lado con X
                  Años de experiencia
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="h-100 person">
              <img
                src="images/person_2-min.jpg"
                alt="Image"
                class="img-fluid"
              />

              <div class="person-contents">
                <h2 class="mb-0"><a href="#">CLemens Jack's</a></h2>
                <span class="meta d-block mb-3"
                  >Mecanico especialisado y general</span
                >
                <p>cuenta con X certificaciones y X titulos</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="h-100 person">
              <img
                src="images/person_3-min.jpg"
                alt="Image"
                class="img-fluid"
              />

              <div class="person-contents">
                <h2 class="mb-0"><a href="#">Alberto </a></h2>
                <span class="meta d-block mb-3">Mecanico en general</span>
                <p>Cuenta con X titulo y es egresado de X institucion</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="widget">
              <h3>Contacto</h3>
              <address>
                Calle Lic Pablo G. Macías, Aquiles Serdán, 58218 Morelia, Mich.
              </address>
              <ul class="list-unstyled links">
                <li><a href="tel://14433683444">+ (52) 44-33-68-34-44 </a></li>
                <li><a href="tel://14431646351">+ (52) 44-31-64-63-51</a></li>
                <li>
                  <a href="mailto:Migue_automotriz@hotmail.com"
                    >Migue_automotriz@hotmail.com</a
                  >
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3>Recursos</h3>
              <ul class="list-unstyled float-start links">
                <li><a href="#">Màs</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Vision</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Terminos</a></li>
                <li><a href="#">Privacidad</a></li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3>Links</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Nuestra vicion</a></li>
                <li><a href="#">Màs</a></li>
                <li><a href="#">Nuestras redes sociales</a></li>
              </ul>

              <ul class="list-unstyled social">
                <li>
                  <a
                    href="https://api.whatsapp.com/send?phone=%2B524433683444&data=AWDTdNIn7jx0mDJcJvE8IxRf3HkxiNJODOyw2nf3bTNhwI--QUTAY6BHbGgSiRZIAkhZlFIGxMF8BnipkIn2Se6m191NmM8Hpgl9Vu4_nlSk98Q7u473l3EZa0kkizl2pGI9nrYi6jnCWvl6iG0UGxKnLjyYm4DXnJLbGRcU8ShVkxFmExbZcHvL5qWm-cA663uK76wrHyyyXWHVXG7OguTT1XJoi4XXWGQpgADoZ-gadskZ093V3yGfWFEolaOTdpretwh-nJ6O8-uOLs1SqPoBEffxtDZkkPDaGVwkzPZ-vEtVT-E&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR2xKzqk7RumaN-mdRlAtZILFypsH_nwFtE6KJNnmarsqw73MX5Bvq9yfUY"
                    ><span class="icon-whatsapp"></span
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.facebook.com/profile.php?id=100067228387745&ref_type=bookmark"
                    ><span class="icon-facebook"></span
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.google.com.mx/maps/place/Taller+Migues+Automotriz/@19.7211972,-101.1701232,17z/data=!4m6!3m5!1s0x842d0e223379d935:0x6e3b26acfe466acc!8m2!3d19.7210482!4d-101.168417!16s%2Fg%2F1q6h_yyck"
                    ><span class="icon-map"></span
                  ></a>
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5">
          <div class="col-12 text-center">
            <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
              **==========
            -->

            <p>
              Copyright Migue's Automotriz&copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              . Todos los derechos reservados. &mdash; Diseñado por
              <a href="https://untree.co">Sergio David Zavala Castro</a>
              <!-- License information: https://untree.co/license/ -->
            </p>
            <div>
              Distribuido por
              <a href="https://themewagon.com/" target="_blank"
                >Desarollando El Futuro</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>

    <script src="{% static 'michoacan/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'michoacan/js/tiny-slider.js'%}"></script>
    <script src="{% static 'michoacan/js/aos.js'%}"></script>
    <script src="{% static 'michoacan/js/navbar.js'%}"></script>
    <script src="{% static 'michoacan/js/counter.js'%}"></script>
    <script src="{% static 'michoacan/js/custom.js' %}"></script>
  </body>
</html>
